# Project Sunroof

#### I have four csv files with respect to this project. They are "state.csv", "county.csv", "city.csv" and "zipcode.csv".

In [1]:
import pandas as pd

#### ============================================================================================================================
## Cleaning the "city" dataframe.

In [3]:
document = "city.csv"
city = pd.read_csv(document)
print(city.columns)
city.shape

Index(['region_name', 'state_name', 'lat_max', 'lat_min', 'lng_max', 'lng_min',
       'lat_avg', 'lng_avg', 'yearly_sunlight_kwh_kw_threshold_avg',
       'count_qualified', 'percent_covered', 'percent_qualified',
       'number_of_panels_n', 'number_of_panels_s', 'number_of_panels_e',
       'number_of_panels_w', 'number_of_panels_f', 'number_of_panels_median',
       'number_of_panels_total', 'kw_median', 'kw_total',
       'yearly_sunlight_kwh_n', 'yearly_sunlight_kwh_s',
       'yearly_sunlight_kwh_e', 'yearly_sunlight_kwh_w',
       'yearly_sunlight_kwh_f', 'yearly_sunlight_kwh_median',
       'yearly_sunlight_kwh_total', 'install_size_kw_buckets_json',
       'carbon_offset_metric_tons', 'existing_installs_count'],
      dtype='object')

(7930, 31)

#### The 0th and 1st row's region name is missing, without name the values are useless, removing these rows. The rest of the dataframe has region names but with 33 rows having NaN values across the variables, replacing those NaN's with zero. Removing "install_size_kw_buckets_json" column, the data in this column is unreadable and will not be used in this project.

In [6]:
null_city=city[city.isnull().any(axis=1)] 
null_city.head()

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,...,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,install_size_kw_buckets_json,carbon_offset_metric_tons,existing_installs_count
0,NaN,Pennsylvania,40.701884,40.612937,-75.462191,-75.546116,40.650352,-75.495835,985.15,7673,...,1.002516e+07,3.514971e+07,2.304186e+07,2.454188e+07,5.992748e+07,9215.539380,1.526861e+08,"[[0,2009],[5,2674],[10,1358],[15,696],[20,286]...",97025.991471,11
1,NaN,NaN,32.551561,32.542257,-116.919812,-117.030077,32.548449,-116.956736,1300.50,2,...,4.745559e+03,7.692078e+03,0.000000e+00,0.000000e+00,0.000000e+00,5209.464685,1.243764e+04,"[[0,2]]",0.000000,0
134,Angelus Oaks,California,34.230334,34.136015,-116.850403,-116.985231,34.154923,-116.960563,1447.55,0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,0.000000,0
180,Ardsley,New York,41.030778,40.992906,-73.822677,-73.857482,41.012928,-73.840729,991.95,0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,0.000000,0
522,Bernardsville,New Jersey,40.754852,40.694182,-74.553812,-74.617992,40.717998,-74.570050,996.20,0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,0.000000,0

In [7]:
null_city.shape  #

(33, 31)

In [8]:
city = city.drop(city.index[0:2]) # the rows reduced from 7930 to 7928
city = city.drop("install_size_kw_buckets_json", axis=1) # the columns reduced from 31 to 30
city.shape

(7928, 30)

In [9]:
 city = city.fillna(0)

In [10]:
city[city.isnull().any(axis=1)] # sanity check for zeros

Empty DataFrame
Columns: [region_name, state_name, lat_max, lat_min, lng_max, lng_min, lat_avg, lng_avg, yearly_sunlight_kwh_kw_threshold_avg, count_qualified, percent_covered, percent_qualified, number_of_panels_n, number_of_panels_s, number_of_panels_e, number_of_panels_w, number_of_panels_f, number_of_panels_median, number_of_panels_total, kw_median, kw_total, yearly_sunlight_kwh_n, yearly_sunlight_kwh_s, yearly_sunlight_kwh_e, yearly_sunlight_kwh_w, yearly_sunlight_kwh_f, yearly_sunlight_kwh_median, yearly_sunlight_kwh_total, carbon_offset_metric_tons, existing_installs_count]
Index: []

[0 rows x 30 columns]

#### ============================================================================================================================
## Cleaning the "state" dataframe.

In [11]:
document = "state.csv"
state = pd.read_csv(document)
print(state.columns)
print(state.shape)

Index(['region_name', 'state_name', 'lat_max', 'lat_min', 'lng_max', 'lng_min',
       'lat_avg', 'lng_avg', 'yearly_sunlight_kwh_kw_threshold_avg',
       'count_qualified', 'percent_covered', 'percent_qualified',
       'number_of_panels_n', 'number_of_panels_s', 'number_of_panels_e',
       'number_of_panels_w', 'number_of_panels_f', 'number_of_panels_median',
       'number_of_panels_total', 'kw_median', 'kw_total',
       'yearly_sunlight_kwh_n', 'yearly_sunlight_kwh_s',
       'yearly_sunlight_kwh_e', 'yearly_sunlight_kwh_w',
       'yearly_sunlight_kwh_f', 'yearly_sunlight_kwh_median',
       'yearly_sunlight_kwh_total', 'install_size_kw_buckets_json',
       'carbon_offset_metric_tons', 'existing_installs_count'],
      dtype='object')
(52, 31)

#### Only the 0th observation has NaN under the region's name, will be removing this row. Removing "install_size_kw_buckets_json" column, the data in this column is unreadable and will not be used in this project.

In [12]:
state[state.isnull().any(axis=1)]

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,...,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,install_size_kw_buckets_json,carbon_offset_metric_tons,existing_installs_count
0,NaN,NaN,32.651912,32.542257,-115.667998,-117.030077,32.574314,-116.634551,1300.358333,2,...,4745.559338,7692.07832,0.0,0.0,0.0,5209.464685,12437.637659,"[[0,2]]",0.0,0

In [13]:
state = state.drop(state.index[0])
state = state.drop("install_size_kw_buckets_json", axis=1)
state.shape # dimension is changed from (52,31) to (51,30) after all the above operations.

(51, 30)

#### ============================================================================================================================
## Cleaning the "county" dataframe.

In [14]:
document = "county.csv"
county = pd.read_csv(document)
print(county.columns)
print(county.shape)

Index(['region_name', 'state_name', 'lat_max', 'lat_min', 'lng_max', 'lng_min',
       'lat_avg', 'lng_avg', 'yearly_sunlight_kwh_kw_threshold_avg',
       'count_qualified', 'percent_covered', 'percent_qualified',
       'number_of_panels_n', 'number_of_panels_s', 'number_of_panels_e',
       'number_of_panels_w', 'number_of_panels_f', 'number_of_panels_median',
       'number_of_panels_total', 'kw_median', 'kw_total',
       'yearly_sunlight_kwh_n', 'yearly_sunlight_kwh_s',
       'yearly_sunlight_kwh_e', 'yearly_sunlight_kwh_w',
       'yearly_sunlight_kwh_f', 'yearly_sunlight_kwh_median',
       'yearly_sunlight_kwh_total', 'install_size_kw_buckets_json',
       'carbon_offset_metric_tons', 'existing_installs_count'],
      dtype='object')
(910, 31)

In [15]:
county[county.isnull().any(axis=1)]

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,...,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,install_size_kw_buckets_json,carbon_offset_metric_tons,existing_installs_count
0,NaN,NaN,32.551561,32.551527,-116.919812,-116.920318,32.551544,-116.920065,1299.65,2,...,4745.559338,7692.07832,0.0,0.0,0.0,5209.464685,12437.637659,"[[0,2]]",0.0,0
65,Bland County,Virginia,37.259341,37.045761,-81.015011,-81.228347,37.134732,-81.100814,864.45,0,...,0.000000,0.00000,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0
102,Burleson County,Texas,30.613641,30.336323,-96.335579,-96.802572,30.481088,-96.636569,1055.70,0,...,0.000000,0.00000,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0

#### The 0th observation has NaN under the region's name, will be removing this row. 65th and 102nd observations of the dataframe has region names but with NaN values across the variables, replacing those NaN's with zero. Removing "install_size_kw_buckets_json" column, the data in this column is unreadable and will not be used in this project.

In [16]:
county = county.drop(county.index[0])
county = county.drop("install_size_kw_buckets_json", axis=1)
county = county.fillna(0)

In [17]:
county[county.isnull().any(axis=1)] # checking if all operation are carried

Empty DataFrame
Columns: [region_name, state_name, lat_max, lat_min, lng_max, lng_min, lat_avg, lng_avg, yearly_sunlight_kwh_kw_threshold_avg, count_qualified, percent_covered, percent_qualified, number_of_panels_n, number_of_panels_s, number_of_panels_e, number_of_panels_w, number_of_panels_f, number_of_panels_median, number_of_panels_total, kw_median, kw_total, yearly_sunlight_kwh_n, yearly_sunlight_kwh_s, yearly_sunlight_kwh_e, yearly_sunlight_kwh_w, yearly_sunlight_kwh_f, yearly_sunlight_kwh_median, yearly_sunlight_kwh_total, carbon_offset_metric_tons, existing_installs_count]
Index: []

[0 rows x 30 columns]

#### ============================================================================================================================
## Cleaning the "zipcode" dataframe.

In [38]:
document = "zipcode.csv"
zipcode = pd.read_csv(document)
print(zipcode.columns)
print(zipcode.shape)

Index(['region_name', 'state_name', 'lat_max', 'lat_min', 'lng_max', 'lng_min',
       'lat_avg', 'lng_avg', 'yearly_sunlight_kwh_kw_threshold_avg',
       'count_qualified', 'percent_covered', 'percent_qualified',
       'number_of_panels_n', 'number_of_panels_s', 'number_of_panels_e',
       'number_of_panels_w', 'number_of_panels_f', 'number_of_panels_median',
       'number_of_panels_total', 'kw_median', 'kw_total',
       'yearly_sunlight_kwh_n', 'yearly_sunlight_kwh_s',
       'yearly_sunlight_kwh_e', 'yearly_sunlight_kwh_w',
       'yearly_sunlight_kwh_f', 'yearly_sunlight_kwh_median',
       'yearly_sunlight_kwh_total', 'install_size_kw_buckets_json',
       'carbon_offset_metric_tons', 'existing_installs_count'],
      dtype='object')
(10621, 31)

In [39]:
zipcode[zipcode.isnull().any(axis=1)].head()

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,...,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,install_size_kw_buckets_json,carbon_offset_metric_tons,existing_installs_count
0,NaN,NaN,32.542257,32.542257,-117.030077,-117.030077,32.542257,-117.030077,1304.75,0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0
49,1534.0,Massachusetts,42.165631,42.109283,-71.600514,-71.693163,42.146958,-71.653393,982.60,0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0
552,6241.0,Connecticut,41.894109,41.815852,-71.794578,-71.911396,41.849817,-71.874645,979.20,0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0
821,7924.0,New Jersey,40.754979,40.695731,-74.553812,-74.617992,40.718322,-74.569466,996.20,0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0
829,7945.0,New Jersey,40.829728,40.746935,-74.544703,-74.647408,40.786822,-74.604299,983.45,0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0

In [40]:
null_zip = zipcode[zipcode.isnull().any(axis=1)]
null_zip.shape # 36 rows with NaN's

(36, 31)

#### The 0th observation has NaN under the region's name, will be removing this row. The rest of the dataframe has region names but with 36 rows having NaN values across the variables, replacing those NaN's with zero. Removing "install_size_kw_buckets_json" column, the data in this column is unreadable and will not be used in this project.

In [41]:
zipcode = zipcode.drop(zipcode.index[0])
zipcode = zipcode.drop("install_size_kw_buckets_json", axis=1)
zipcode = zipcode.fillna(0)

In [42]:
zipcode[zipcode.isnull().any(axis=1)] # checking if all operation are carried

Empty DataFrame
Columns: [region_name, state_name, lat_max, lat_min, lng_max, lng_min, lat_avg, lng_avg, yearly_sunlight_kwh_kw_threshold_avg, count_qualified, percent_covered, percent_qualified, number_of_panels_n, number_of_panels_s, number_of_panels_e, number_of_panels_w, number_of_panels_f, number_of_panels_median, number_of_panels_total, kw_median, kw_total, yearly_sunlight_kwh_n, yearly_sunlight_kwh_s, yearly_sunlight_kwh_e, yearly_sunlight_kwh_w, yearly_sunlight_kwh_f, yearly_sunlight_kwh_median, yearly_sunlight_kwh_total, carbon_offset_metric_tons, existing_installs_count]
Index: []

[0 rows x 30 columns]

#### ============================================================================================================================
## Checking all the dataframe sharing the same columns

In [96]:
city.columns == state.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [97]:
county.columns == zip.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [98]:
state.columns == county.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

#### ==========================================================================================================================
## Coverting all cleaned dataframe to csv files

In [29]:
state.to_csv(r'/home/bhavya/Desktop/DV/DASH/state1.csv', index= None, header=True ) 
city.to_csv(r'/home/bhavya/Desktop/DV/DASH/city1.csv', index= None, header=True )
county.to_csv(r'/home/bhavya/Desktop/DV/DASH/county1.csv', index= None, header=True )
zipcode.to_csv(r'/home/bhavya/Desktop/DV/DASH/zipcode1.csv', index= None, header=True )

#### ==========================================================================================================================
## Removing unrequired columns from state1.csv for DASH web app input
#### Converting the newly formed dataframe into a csv file "state2.csv" and rounding all the numbers upto decimal points only since the original had multiple digits after decimal, I will use this data file for running my DASH application for the Data Table.

In [8]:
document = "state1.csv"
us_state = pd.read_csv(document)
us_states = us_state[["state_name", "percent_qualified","count_qualified","existing_installs_count","yearly_sunlight_kwh_total","carbon_offset_metric_tons" ]] 
us_states = us_states.round(2)
print(us_states.head())
us_states.to_csv(r'/home/bhavya/Desktop/DV/DASH/state2.csv', index= None, header=True )

   state_name  percent_qualified  count_qualified  existing_installs_count  \
0     Alabama              78.46           700683                      549
1      Alaska              37.15            27583                       83
2     Arizona              91.62          1638999                    39553
3    Arkansas              75.68           322235                      238
4  California              87.05          7841387                   328899

   yearly_sunlight_kwh_total  carbon_offset_metric_tons
0               1.896138e+10                12022951.76
1               4.664927e+08                  192197.47
2               4.639329e+10                19913839.64
3               8.941609e+09                 5619080.89
4               1.980163e+11                54495607.01

#### ==========================================================================================================================
## Removing unrequired columns from state1.csv, zipcode1.csv, city1.csv, county1.csv for 
## DASH web app input
##### "state_cols.csv" is created from selected columns of "state1.csv", the data from this columns is used for the carbon-offset paragraph's values update each time a state is selected in table of the app.
##### zipcode2.csv,city2.csv,county2.csv is created from selected columns of zipcode1.csv,city1.csv and county1.csv for the map in the app.
##### my intention here is to store smaller size files in digital ocean server.

In [23]:
document = "state1.csv"
statecols = pd.read_csv(document)
state_cols = statecols[['region_name','state_name','lat_avg','lng_avg', 'yearly_sunlight_kwh_total','count_qualified','existing_installs_count','yearly_sunlight_kwh_n','yearly_sunlight_kwh_s','yearly_sunlight_kwh_e','yearly_sunlight_kwh_w','yearly_sunlight_kwh_f','carbon_offset_metric_tons']]
state_cols.to_csv(r'/home/bhavya/Desktop/DV/DASH/state_cols.csv', index= None, header=True )

In [27]:
document = "zipcode1.csv"
zip_code = pd.read_csv(document)
zipcode = zip_code[['region_name','state_name','lat_avg','lng_avg', 'yearly_sunlight_kwh_total','count_qualified','existing_installs_count','yearly_sunlight_kwh_n','yearly_sunlight_kwh_s','yearly_sunlight_kwh_e','yearly_sunlight_kwh_w','yearly_sunlight_kwh_f']]
df = zipcode.sort_values(by='yearly_sunlight_kwh_total', ascending=False)
df.to_csv(r'/home/bhavya/Desktop/DV/DASH/zipcode2.csv', index= None, header=True )

In [15]:
document = "city1.csv"
city = pd.read_csv(document)
city = city[['region_name','state_name','lat_avg','lng_avg', 'yearly_sunlight_kwh_total','count_qualified','existing_installs_count','yearly_sunlight_kwh_n','yearly_sunlight_kwh_s','yearly_sunlight_kwh_e','yearly_sunlight_kwh_w','yearly_sunlight_kwh_f']]
df = city.sort_values(by='yearly_sunlight_kwh_total', ascending=False)
df.to_csv(r'/home/bhavya/Desktop/DV/DASH/city2.csv', index= None, header=True )

In [16]:
document = "county1.csv"
county = pd.read_csv(document)
county = county[['region_name','state_name','lat_avg','lng_avg', 'yearly_sunlight_kwh_total','count_qualified','existing_installs_count','yearly_sunlight_kwh_n','yearly_sunlight_kwh_s','yearly_sunlight_kwh_e','yearly_sunlight_kwh_w','yearly_sunlight_kwh_f']]
df = county.sort_values(by='yearly_sunlight_kwh_total', ascending=False)
df.to_csv(r'/home/bhavya/Desktop/DV/DASH/county2.csv', index= None, header=True )

## Plotting the points on the map for DASH application.
#### I want to let users choose options between county, city and zipcode of all the states or selected one of the USA. The user can look at the potential solar energy generation possible in their area of choice. encouraging them to install solar panels promoting renewable energy.

In [1]:
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly import tools
import pandas as pd
import plotly as plotly
init_notebook_mode(connected=True)

mapbox_access_token = 'pk.eyJ1IjoiYmhhdnlhcmFtZ2lyaSIsImEiOiJjanR6d3lqdDgycng5M3lxdW5tcWN3bW5hIn0.15q7MVN8v1rkemwfomu-gA'
df= pd.read_csv('/home/bhavya/Desktop/DV/DASH/zipcode2.csv')


locations_name = df['region_name']# + ' ' + (df['yearly_sunlight_kwh_total']/1e6).astype(str)+' million Kwh'

data = [
    go.Scattermapbox(
        lat=df['lat_avg'],
        lon=df['lng_avg'],
        mode='markers',
        marker=go.scattermapbox.Marker(
            size=5,
            colorscale=[[0,'yellow'],[1,'orangered']],
            opacity=0.7,
            cmin = 0,
            color = df['yearly_sunlight_kwh_total'],
            cmax = df['yearly_sunlight_kwh_total'].max(),
            colorbar=dict(
                title="solar generation"
            )
        ),
        text= locations_name,
        hoverinfo='text'
    )]    
layout = go.Layout(
    title='trial1',
    autosize=True,
    hovermode='closest',
    showlegend=False,
    mapbox=go.layout.Mapbox(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=go.layout.mapbox.Center(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=3,
        style='dark'
    ),
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='trail1')

#### since most of the zipcode points are below 200 million kwh potential solar energy generation, the color bar is not creating much of an impact which i am expecting.Therefore, i will divided the zipcodes in three equal parts as below in bubble map, this time using city2.csv data.

In [4]:
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly import tools
init_notebook_mode(connected=True)
import pandas as pd
import plotly as plotly

df_unsorted = pd.read_csv('/home/bhavya/Desktop/DV/DASH/city2.csv')
df = df_unsorted.sort_values(by='yearly_sunlight_kwh_total', ascending=False)
df.head()

df['text'] = df['region_name'] + ', ' + (df['yearly_sunlight_kwh_total']/1e6).astype(str)+' million Kwh'
limits = [(0,10),(11,1000),(1001,7928)]#cities
#limits = [(0,19942),(19943,39884),(39885,59826),(59827,79768),(79769,99711)]#county
colors = ['Orangered','yellow','lightgreen']
region_zip = []
scale = 10000000

for i in range(len(limits)):
    lim = limits[i]
    df_sub = df[lim[0]:lim[1]]
    county = go.Scattergeo(
        locationmode = 'USA-states',
        lon = df_sub['lng_avg'],
        lat = df_sub['lat_avg'],
        #text = df_sub['text'],
        marker = go.scattergeo.Marker(
            size = df_sub['yearly_sunlight_kwh_total']/scale,
            #size = 5,
            opacity = 0.5,
            color = colors[i],
            sizemode = 'area'
        ),
        name = '{0} - {1}'.format(lim[0],lim[1]) )
    region_zip.append(county)

layout = go.Layout(
        title = 'Trial 2',
        showlegend = True,
        geo = go.layout.Geo(
            scope = 'usa',
            projection = go.layout.geo.Projection(
                type='albers usa'
            ),
            showland = True,
            landcolor = 'black',
            subunitwidth=1,
            countrywidth=1,
            subunitcolor="rgb(255, 255, 255)",
            countrycolor="rgb(255, 255, 255)"
        )
    )

fig = go.Figure(data=region_zip, layout=layout)
py.iplot(fig, filename='d3-bubble-map-solar')

#### The choropleth map does not produce the asthetic quality as map box delivers and the bubbles seems to be more cluttered than points. so i am trying to plot again in map box with the equal 3 part division of data on zipcode2.csv.

In [5]:
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly import tools
init_notebook_mode(connected=True)
import pandas as pd
import plotly as plotly

mapbox_access_token = 'pk.eyJ1IjoiYmhhdnlhcmFtZ2lyaSIsImEiOiJjanR6d3lqdDgycng5M3lxdW5tcWN3bW5hIn0.15q7MVN8v1rkemwfomu-gA'
df= pd.read_csv('/home/bhavya/Desktop/DV/DASH/zipcode2.csv')
df_1 = df[0:3540]
df_2 = df[3540:7080]
df_3 = df[7080:10621]
site_lat1 = df_1['lat_avg']
site_lon1 = df_1['lng_avg']
site_lat2 = df_2['lat_avg']
site_lon2 = df_2['lng_avg']
site_lat3 = df_3['lat_avg']
site_lon3 = df_3['lng_avg']

locations_name = df['region_name']# + ' ' + (df['yearly_sunlight_kwh_total']/1e6).astype(str)+' million Kwh'

data = [
    go.Scattermapbox(
        lat=site_lat1,
        lon=site_lon1,
        mode='markers',
        marker=go.scattermapbox.Marker(
            size=15,
            color='orangered',
            opacity=0.3
        ),
        text= locations_name,
        hoverinfo='text'
    ),
    go.Scattermapbox(
        lat=site_lat2,
        lon=site_lon2,
        mode='markers',
        marker=go.scattermapbox.Marker(
            size=10,
            color='yellow',
            opacity=0.4
        ),
        text= locations_name,
        hoverinfo='text'
    ),
     go.Scattermapbox(
        lat=site_lat3,
        lon=site_lon3,
        mode='markers',
        marker=go.scattermapbox.Marker(
            size=4,
            color='lightgreen',
            opacity=0.5
        ),
        text= locations_name,
        hoverinfo='text'
     )]
        
layout = go.Layout(
    title='trial 3',
    autosize=True,
    hovermode='closest',
    showlegend=True,
    mapbox=go.layout.Mapbox(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=go.layout.mapbox.Center(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=3,
        style='dark'
    ),
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='trail2')

#### The above map box scatter plot looks better, it will be the part of my dash app where user can select county, city or zipcode points to display on the map

## BAR chart
#### The bar chart is plotted from "state_cols.csv" file, the first bar shows the number of buildings qualified for solar panel(the buildings that dont have solar panels installed) and the second bar shows the exsisting building with solar panels. This will give the viewers the constrast difference between both the bars. The graph will update with the selection of the states in the table of app.

In [25]:
import plotly.plotly as py
import plotly.graph_objs as go
state_cols = pd.read_csv('/home/bhavya/Desktop/DV/DASH/state_cols.csv')
annotations=[
        dict(
            x=1,
            y=50000000,
            xref='x',
            yref='y',
            text="If all buildings have solar panels installed,<br>the potential CO2 abatement in metric tons is: %d" % ((state_cols.carbon_offset_metric_tons).sum()),
            font=dict(size=15,color='#000000'),
            showarrow=False )]
trace0 = go.Bar(
    x=['Number of buildings qualified<br>for solar panel installation', 'Number of buildings with<br>installed solar panels'],
    y=[(state_cols.count_qualified).sum(), (state_cols.existing_installs_count).sum()],
    marker=dict(
        color=['#ffcc00','#ff4700'],
        #line=dict(
            #color=['#ff4700','#ffcc00'],
            #width=5,
        #)
    ),
    opacity=0.6
)

data = [trace0]
layout = go.Layout(
    title='Solar panel installations',
    annotations=annotations
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='text-hover-bar')

## Pie chart
#### The piechart has 5 parts in them, which shows the potential solar power that can be generated based on different roof directions.The graph will update with the selection of the states in the table of app.

In [26]:
import plotly.plotly as py
import plotly.graph_objs as go

north = (state_cols.yearly_sunlight_kwh_n).sum()
south = (state_cols.yearly_sunlight_kwh_s).sum()
east = (state_cols.yearly_sunlight_kwh_e).sum()
west = (state_cols.yearly_sunlight_kwh_w).sum()
flat = (state_cols.yearly_sunlight_kwh_f).sum()
fig = {
  "data": [
    {
      "values": [north, south, east, west, flat],
      "labels": ["north","south","east","west","flat"],
      "domain": {"column": 0},
      "name": "Roof facing",
      "hoverinfo":"label+percent+name",
      "hole": .4,
      "type": "pie",
      "marker": {'colors': ["#94f08f","#ff5973","#ffcc00","#ff4700","#33c9cf"],
                 'line':dict(color='#000000', width=5)},
      "opacity" : 0.8,
    }],
  "layout": {
        "title":"Yearly solar energy generation potential<br>for all roof space.",
        "annotations": [
            {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "roof facing",
                "x": 0.5,
                "y": 0.5
            }
        ]
    }
}
py.iplot(fig, filename='donut')

#### If the potential solar panels are not installed, this in turn will allow certain amount of carbon dioxide production; To let user connect and understand this quantity I am including the amount of trees in acres required to consume the same quantity of CO2. The link below give the equivalent ratio

https://www.epa.gov/energy/greenhouse-gas-equivalencies-calculator